#some hardware report info of system
INVENTORY_HOSTNAME={{ansible_hostname}}
BIOS_VERSION={{ansible_bios_version}}
TOTAL_MEMORY={{ansible_memtotal_mb}}
VDA_SIZE={{ansible_devices.sda.size}}
VDB_SIZE={{ansible_devices.sdb.size}}
